footer {

    .footer-wrapper {
        border-color: #333333 !important;
        .row {
            max-width: 1200px;
            margin: auto;
        }
    }

    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    height: 112px;

    .social {
        display: flex;
        height: 52px;
        width: 52px;

        fill: var(--bs-body-color) !important;
        stroke: var(--bs-body-color) !important;

        * {
            stroke: var(--bs-body-color) !important;
        }
    }

    .bi {
        font-size: 1.2rem;
    }
}


//add a media quyery for the socials

@media (max-width: 768px) {
    footer {
        .social {
            height: 32px;
            width: 32px;
        }
    }
}