<footer>
    @if (translationConcat('CONTACT_ME') | translate) {
    <div class="footer-wrapper border border-bottom-0 border-start-0 border-end-0">
        <div class="row p-4">
            <div class="col-6 d-flex justify-content-start align-items-end">
                <h6 class="m-0 text-custom-seconday">
                    <!-- {{translationConcat('CONTACT_ME') | translate}} -->
                    &#64; 2025 A.Jarwan
                </h6>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-end">
                <a role="button" class="mx-2 text-custom-seconday"
                    (click)="toLink('#')">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a role="button" class="mx-2 text-custom-seconday"
                    (click)="toLink('#')">
                    <i class="bi bi-envelope"></i>
                </a>
                <a role="button" class="mx-2 text-custom-seconday text-decoration-none"
                    (click)="toLink('#')">
                    <i class="bi bi-card-text"></i> Resume
                </a>
            </div>
        </div>
    </div>
    }

</footer>