<section id="intro-section">
  <div class="row">
    <div class="col-4">
      <div class="img-box"> </div>
    </div>

    <div class="col-8 d-flex flex-column">
      <div class="text-content">
        <h1 class="text-left name-text">
          <span class="first-name">Abdalrahman</span>&nbsp;<span class="last-name">Jarwan</span>
        </h1>
        <hr>
        <p class="py-4">
          Crafting digital experiences with precision and passion. A
          visionary engineer dedicated to bridging the gap between
          complex systems and intuitive design.
        </p>
      </div>

      <div class="view-resume-button">
        <a role="button">
          VIEW RESUME <i class="bi bi-arrow-right ms-3"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="project-and-papers-section">
    <a href="#projects-and-papers" class="projects-and-papers-link">
      Projects & Papers
      <span class="bottom-arrow">
        <i class="bi bi-arrow-down"></i>

      </span>
    </a>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-4">
      <h1>Achievements</h1>
    </div>

    <div class="col-8 d-flex justify-content-center align-items-center flex-column">
      <div class="text-content">
        <p>
          Lorem ipsum dolor sit amet consectetur. Eget adipiscing suspendisse ac nisi nibh mauris nulla tellus. At eget
          viverra at ipsum a. Ullamcorper mi maecenas nunc nibh sit pellentesque dui ultricies. Lectus mollis augue
          morbi interdum senectus non viverra vitae. Interdum senectus non viverra vitae. Lorem ipsum dolor sit amet
          consectetur. Eget adipiscing suspendisse ac nisi nibh mauris nulla tellus. At eget viverra at ipsum a.
          Ullamcorper mi maecenas nunc nibh sit pellentesque dui ultricies. Lectus mollis augue morbi interdum senectus
          non viverra vitae.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-4">
      <h1>Goals</h1>
    </div>

    <div class="col-8 d-flex justify-content-center align-items-center flex-column">
      <div class="text-content">
        <p>
          Lorem ipsum dolor sit amet consectetur. Eget adipiscing suspendisse ac nisi nibh mauris nulla tellus. At eget
          viverra at ipsum a. Ullamcorper mi maecenas nunc nibh sit pellentesque dui ultricies. Lectus mollis augue
          morbi interdum senectus non viverra vitae. Interdum senectus non viverra vitae. Lorem ipsum dolor sit amet
          consectetur. Eget adipiscing suspendisse ac nisi nibh mauris nulla tellus. At eget viverra at ipsum a.
          Ullamcorper mi maecenas nunc nibh sit pellentesque dui ultricies. Lectus mollis augue morbi interdum senectus
          non viverra vitae.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="projects-and-papers">
  <div class="row">
    <div class="col-4">
      <h1>Goals</h1>
    </div>

    <div class="col-8 d-flex justify-content-center align-items-center flex-column">
      <div class="text-content">
        <p>
          Lorem ipsum dolor sit amet consectetur. Eget adipiscing suspendisse ac nisi nibh mauris nulla tellus. At eget
          viverra at ipsum a. Ullamcorper mi maecenas nunc nibh sit pellentesque dui ultricies. Lectus mollis augue
          morbi interdum senectus non viverra vitae. Interdum senectus non viverra vitae. Lorem ipsum dolor sit amet
          consectetur. Eget adipiscing suspendisse ac nisi nibh mauris nulla tellus. At eget viverra at ipsum a.
          Ullamcorper mi maecenas nunc nibh sit pellentesque dui ultricies. Lectus mollis augue morbi interdum senectus
          non viverra vitae.
        </p>
      </div>
    </div>
  </div>
</section>