<section>
  <div class="row">
    <div class="col-4">
      <div class="img-box"> </div>
    </div>

    <div class="col-8 d-flex justify-content-center align-items-center flex-column">
      <div class="text-content">
        <h1 class="text-left">
          Abdalrahman Jarwan
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur. Eget adipiscing suspendisse ac nisi nibh mauris nulla tellus. At eget viverra at ipsum a. Ullamcorper mi maecenas nunc nibh sit pellentesque dui ultricies. Lectus mollis augue morbi interdum senectus non viverra vitae. Interdum senectus non viverra vitae. Lorem ipsum dolor sit amet consectetur. Eget adipiscing suspendisse ac nisi nibh mauris nulla tellus. At eget viverra at ipsum a. Ullamcorper mi maecenas nunc nibh sit pellentesque dui ultricies. Lectus mollis augue morbi interdum senectus non viverra vitae.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-4">
      <h1>Achievements</h1>
    </div>

    <div class="col-8 d-flex justify-content-center align-items-center flex-column">
      <div class="text-content">
        <p>
          Lorem ipsum dolor sit amet consectetur. Eget adipiscing suspendisse ac nisi nibh mauris nulla tellus. At eget viverra at ipsum a. Ullamcorper mi maecenas nunc nibh sit pellentesque dui ultricies. Lectus mollis augue morbi interdum senectus non viverra vitae. Interdum senectus non viverra vitae. Lorem ipsum dolor sit amet consectetur. Eget adipiscing suspendisse ac nisi nibh mauris nulla tellus. At eget viverra at ipsum a. Ullamcorper mi maecenas nunc nibh sit pellentesque dui ultricies. Lectus mollis augue morbi interdum senectus non viverra vitae.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-4">
      <h1>Goals</h1>
    </div>

    <div class="col-8 d-flex justify-content-center align-items-center flex-column">
      <div class="text-content">
        <p>
          Lorem ipsum dolor sit amet consectetur. Eget adipiscing suspendisse ac nisi nibh mauris nulla tellus. At eget viverra at ipsum a. Ullamcorper mi maecenas nunc nibh sit pellentesque dui ultricies. Lectus mollis augue morbi interdum senectus non viverra vitae. Interdum senectus non viverra vitae. Lorem ipsum dolor sit amet consectetur. Eget adipiscing suspendisse ac nisi nibh mauris nulla tellus. At eget viverra at ipsum a. Ullamcorper mi maecenas nunc nibh sit pellentesque dui ultricies. Lectus mollis augue morbi interdum senectus non viverra vitae.
        </p>
      </div>
    </div>
  </div>
</section>