<span class="px-2 py-1 badge">
    @if(paper?.papersCategoryTypes === paperCategoryTypes.RESEARCH){
    {{translationConcat('RESEARCH') | translate}}
    }@else {
    {{translationConcat('REPORT') | translate}}
    }
</span>

<h4 class="my-2 font-secondary">
    {{paper?.title?.[translateService.currentLang]! | translate}}
</h4>

<p class="text-custom-seconday text-content">
    {{paper?.description?.[translateService.currentLang]! | translate}}
</p>

<a role="button" (click)="viewReport()" class="paper-item-link">
    Paper <i class="bi bi-arrow-right"></i>
</a>

<clp-pdf-modal [(showModal)]="showModal" [pdfUrl]="paper?.url" />
