/* You can add global styles to this file, and also import other style files */
//see it's necesary import both scss/functions and scss/variables

@use '../public/styles/_variables.scss';
@use '../public/styles/_fonts.scss';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    transition-property: color, background-color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.ng2-pdf-viewer-container {
    overflow: hidden;
}

.font-secondary {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.text-custom-seconday {
    color: var(--custom-secondary-color);
}

.text-custom-primary {
    color: var(--custom-primary);
}

body *{
    animation: fadeInAnimation ease-in-out .8s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}