body.darkmode {
    --bs-body-bg: #111111 !important;
    --bs-body-color: white !important;
    --custom-primary: #F59E0B !important;
    --custom-secondary-color: #374151 !important;
    --custom-secondary-bg: #111111 !important;
}

body.lightmode {
    --bs-body-bg: #EEEBDC !important;
    --bs-body-color: black !important;
    --custom-primary-color: black !important;
    --custom-secondary-color: #DCD7C1 !important;
    --custom-secondary-bg: #DCD7C1 !important;
}